@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    /* 가장 굵은 굵기 */
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    /* 일반 굵기, 400과 동일 */
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    /* 가장 가는 굵기 */
    font-style: normal;
}



@font-face {
    font-family: 'afterglow', serif;
    src: url(../font/Afterglow-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
.castoro-regular {
    font-family: "Castoro", serif;
    font-weight: 400;
    font-style: normal;
}


/* ----- 메인 360 ----- */
#wrap{
    width:100%;
    min-width:360px;
}


/* ----- seection01 main 360 ----- */

/* .secMain img{
    width:100%;
    height:auto;
    overflow: hidden;
} */

.secMain{
    width:100%;
    height:138vw;
    background-image: url(images/portGo_mainMob.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

/* seection01 main 1000 */
@media (min-width: 1000px) {
    .secMain{
        height:52vw;
        background-image: url(images/portGo_mainPc.png);
    }
}





/* ----- seection02 main info 360 ----- */
.secMainInfo{
    width:100%;
}

.secMainInfoInner{
    width:100%;
    margin:0 auto;
    padding: 80px 30px;
}

.secMainInfo_tit{
    font-size:36px;
    line-height:120%;
    margin-bottom:60px;
}

.secMainInfo_table caption{
    display:none;
}

.secMainInfo_table{
    width:100%;
}

.secMainInfo_table tr{
    margin-bottom:20px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.secMainInfo_table tr .tableBox_tit{
    width:32%;
    font-size:16px;
    line-height:24px;
    font-weight:700;
}

.secMainInfo_table tr td:last-child{
    width: 68%;
    font-size:16px;
    line-height:24px;
}

.secMainInfo_txt{
    margin-top:40px;
    font-size:16px;
    line-height:160%;
    text-align: justify;
}

/* seection02 main info 1000 */
@media (min-width: 1000px) {
    .secMainInfoInner{
        max-width:1000px;
        padding: 140px 0;
    }

    .secMainInfo_tit{
        font-size:50px;
    }

    .secMainInfo_table tr{
        margin-bottom:12px;
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .secMainInfo_table tr .tableBox_tit{
        width:12%;
        font-size:16px;
        line-height:24px;
        font-weight:700;
    }
    
    .secMainInfo_table tr td:last-child{
        width: 88%;
        font-size:16px;
        line-height:24px;
    }
}


/* ----- seection03 secPreview 360 ----- */
.secPreview{
    background-color:#F7F7F7;
    padding: 60px 30px;
}

.secPreview div{
    width:100%;
    margin:0 auto;
}

.secPreview div img{
    width:100%;
    height:auto;
}

/* seection03 secPreview 1000 */
@media (min-width: 1000px) {
    .secPreview{
        padding: 140px 0;
    }
    
    .secPreview div{
        max-width:1000px;
        margin:0 auto;
    }
    
    .secPreview div img{
        width:100%;
        height:auto;
    }
}

/* ----- seection04 secFigmaInfo 360 ----- */
.secFigmaInfo{
    width:100%;
    padding:80px 30px;
}

.secFigmaInfoInner{
    margin:0 auto;
}

.secFigmaInfo_img{
    margin-top:80px;
    width:100%;
}

.secFigmaInfo_img > p{
    margin-bottom:30px;
}

.secFigmaInfo_img img{
    width:100%;
    height:auto;
    object-fit: cover;
}

/* seection04 secFigmaInfo 1000 */
@media (min-width: 1000px) {
    .secFigmaInfo{
        padding:140px 0;
    }

    .secFigmaInfoInner{
        max-width:1000px;
    }
}




/* ----- seection05 secMockupImg 360 ----- */
.secMockupImg{
    width:100%;
}

.secMockupImg img{
    width:100%;
    height:auto;
    object-fit: cover;
}

.secMockupImg_mockup{
    width:100%;
    padding: 15% 0;
    background:url(images/secMockupImg_ockupBgMob.png) no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secMockupImg_mockup div{
    width:70%;
    transition: all 0.3s;
}

.secMockupImg_screen{
    width:100%;
    padding: 20% 0%;
    background:url(images/secMockupImg_screenBgMob.png) no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secMockupImg_screen div{
    width:80%;
}

/* seection05 secMockupImg 1000 */
@media (min-width: 1000px) {
    .secMockupImg_mockup{
        padding: 120px 0;
        background:url(images/secMockupImg_mockupBgPc.png) no-repeat center/cover;
    }

    .secMockupImg_mockup div{
        width:400px;
    }

    .secMockupImg_screen{
        padding: 140px 0%;
        background:url(images/secMockupImg_screenBgPc.png) no-repeat center/cover;
    }
    
    .secMockupImg_screen div{
        width:1000px;
    }
}







/* ---------- 공통 코드 ---------- */

/* ------ tit공통 360 ------ */
.secTitBox_tit{
    font-size:40px;
    font-weight:700;
    line-height:120%;
    margin-bottom:40px;
}

.secTitBox_sub{
    font-size:16px;
    line-height:140%;
    text-align: justify;
}

/* tit공통 1000 */
@media (min-width: 1000px) {
    .secTitBox_tit{
        font-size:50px;
        line-height:110%;
        margin-bottom:30px;
    }
}





/* ------ mob, pc용 구분 360 ------ */
.moNonView{
    display:none;
}

/* mob, pc용 구분 800 */
@media (min-width: 1000px) {
    .tabNonView{
        display:none;
    }
}

/* mob, pc용 구분 1000 */
@media (min-width: 1000px) {
    .moNonView{
        display:block;
    }

    .pcNonView{
        display:none;
    }
}