@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    /* 가장 굵은 굵기 */
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    /* 일반 굵기, 400과 동일 */
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    /* 가장 가는 굵기 */
    font-style: normal;
}



@font-face {
    font-family: 'afterglow', serif;
    src: url(../font/Afterglow-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
.castoro-regular {
    font-family: "Castoro", serif;
    font-weight: 400;
    font-style: normal;
  }

/* ----- 메인 360 ----- */
#wrap{
    width:100%;
    min-width:360px;
}


/* ----- seection01 main 360 ----- */

/* .secMain img{
    width:100%;
    height:auto;
    overflow: hidden;
} */

.secMain{
    width:100%;
    height:138vw;
    background-image: url(images/portHera_mainMob.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

/* seection01 main 1000 */
@media (min-width: 1000px) {
    .secMain{
        height:52vw;
        background-image: url(images/portHera_mainPc.png);
    }
}


/* ----- seection02 main info 360 ----- */
.secMainInfo{
    width:100%;
}

.secMainInfoInner{
    width:100%;
    margin:0 auto;
    padding: 80px 30px;
}

.secMainInfo_tit{
    font-size:36px;
    line-height:120%;
    margin-bottom:60px;
}

.secMainInfo_table caption{
    display:none;
}

.secMainInfo_table{
    width:100%;
}

.secMainInfo_table tr{
    margin-bottom:20px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.secMainInfo_table tr .tableBox_tit{
    width:32%;
    font-size:16px;
    line-height:24px;
    font-weight:700;
}

.secMainInfo_table tr td:last-child{
    width: 68%;
    font-size:16px;
    line-height:24px;
}

.secMainInfo_txt{
    margin-top:40px;
    font-size:16px;
    line-height:160%;
    text-align: justify;
}

.siteBtn a{
    display:inline-block;
    margin-top:50px;
    padding: 18px 50px 18px 24px;
    font-size:16px;
    color:#111;
    border:1px solid #222;
    background-color:#fff;
    background-image:url(images/siteBtnArrow_black.png);
    background-repeat:no-repeat;
    background-position:150px center;
    background-size: 16px 12px;
    transition: all 0.3s;
}

.siteBtn a:first-child{
    margin-right:10px;
}

.siteBtn a:hover{
    color:#fff;
    background-color:#111;
    background-image:url(images/siteBtnArrow_white.png);
}

/* seection02 main info 1000 */
@media (min-width: 1000px) {
    .secMainInfoInner{
        max-width:1000px;
        padding: 140px 0;
    }

    .secMainInfo_tit{
        font-size:50px;
    }

    .secMainInfo_table tr{
        margin-bottom:12px;
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .secMainInfo_table tr .tableBox_tit{
        width:12%;
        font-size:16px;
        line-height:24px;
        font-weight:700;
    }
    
    .secMainInfo_table tr td:last-child{
        width: 88%;
        font-size:16px;
        line-height:24px;
    }
}


/* ----- seection03 secPreview 360 ----- */
.secPreview{
    background-color:#F7F7F7;
    padding: 60px 30px;
}

.secPreview div{
    width:100%;
    margin:0 auto;
}

.secPreview div img{
    width:100%;
    height:auto;
}

/* seection03 secPreview 1000 */
@media (min-width: 1000px) {
    .secPreview{
        padding: 140px 0;
    }
    
    .secPreview div{
        max-width:1000px;
        margin:0 auto;
    }
    
    .secPreview div img{
        width:100%;
        height:auto;
    }
}


/* ----- seection04,06,07,08 secInfoText 360 ----- */
.secInfoText{
    width:100%;
    padding:80px 30px;
}

.secInfoTextInner{
    margin:0 auto;
}

.secInfoText_img{
    margin-top:80px;
    width:100%;
}

.secInfoText_img > p{
    margin-bottom:30px;
}

.secInfoText_img img{
    width:100%;
    height:auto;
    object-fit: cover;
}

.secGridsystemTxt{
    min-width:280px;
    width:80vw;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    font-size:20px;
    line-height:140%;
}




/* seection04,05 secInfoText 1000 */
@media (min-width: 1000px) {
    .secInfoText{
        width:100%;
        padding:80px 0;
    }

    .secInfoTextInner{
        max-width:1000px;
    }

    .secGridsystemTxt{
        width:300px;
    }
}





/* ----- seection05 secInfoDisplay 360 ----- */
.secInfoDisplay{
    width:100%;
}

.secInfoDisplayInner{
    padding:80px 30px;
}

.secInfoDisplay_right{
    width:100%;
    margin-top:60px;
}

.secInfoDisplay_right img{
    width:100%;
    height:auto;
    object-fit: cover;
}

/* seection05 secInfoDisplay 1000 */
@media (min-width: 1000px) {
    .secInfoDisplayInner{
        max-width:1000px;
        margin:0 auto;
        padding:80px 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .secInfoDisplay_left{
        width:500px;
    }

    .secInfoDisplay_right{
        width:440px;
        margin-top:0;
    }
}



/* ----- seection09 secPcMockup 360 ----- */
.secPcMockup{
    min-width:360px;
    width:100%;
    background-color:#EBE8E5;
}

.secPcMockupInner{
    padding: 100px 30px;
    margin:0 auto;
}

.secPcMockupImg{
    width:100%;
    margin:0 auto;
}

.secPcMockupImg img{
    width:100%;
    height:auto;
    object-fit: cover;
}

/* seection09 secPcMockup 1000 */
@media (min-width: 1000px) {
    .secPcMockupInner{
        max-width:1000px;
        padding: 140px 0;
    }

    .secPcMockupImg{
        margin:100px auto 0;
    }
}



/* ----- seection10 secPcPage 360 ----- */
.secPcPage{
    width:100%;
}

.secPcPage img{
    width:100%;
    height:auto;
    object-fit: cover;
}

.secPcPage div{
    width:100%;
    padding:80px 30px 60px;
    margin:0 auto;
}


/* seection10 secPcPage 1000 */
@media (min-width: 1000px) {
    .secPcPage div{
        max-width:1000px;
        width:100%;
        padding:140px 0 100px;
    }
}



/* ----- seection11 secMobMockup 360 ----- */
.secMobMockup{
    min-width:360px;
    width:100%;
    background-color:#EBE8E5;
}

.secMobMockupInner{
    padding: 100px 30px 0;
    margin:0 auto;
}

.secMobMockupImg{
    width:100%;
    margin:0 auto;
}

.secMobMockupImg img{
    width:100%;
    height:auto;
    object-fit: cover;
}

/* seection11 secMobMockup 1000 */
@media (min-width: 1000px) {
    .secMobMockupInner{
        max-width:1000px;
        padding: 140px 0 20px;
    }

    .secMobMockupImg{
        width:80%;
        margin:120px auto 0;
    }
}


/* ----- seection12 secMobPage 360 ----- */
.secMobPage{
    width:100%;
    height:480vw;
    position:relative;
}

.secMobPageBg{
    width:100%;
    height:70vw;
    background-color:#EBE8E5;
}

.secMobPageImg{
    width:90%;
    position:absolute;
    top:20vw;
    left:50%;
    transform: translateX(-50%);
}

.secMobPageImg img{
    width:100%;
    height:auto;
    object-fit: cover;
}


/* seection12 secMobPage 1000 */
@media (min-width: 1000px) {
    .secMobPage{
        height:1600px;
    }
    
    .secMobPageBg{
        height:400px;
    }
    
    .secMobPageImg{
        width:1000px;
        top:100px;
    }
}



/* ----- seection13 secAllMockup 360 ----- */
.secAllMockup {
    width:100%;
}

.secAllMockup div{
    width:100%;
    overflow: hidden;
    display:flex;
    justify-content: center;   
}

.secAllMockup img{
    width:150%;
    height:auto;
    object-fit: cover;
    transition: all 0.3s;
}

/* seection13 secBoxMockup 1000 */
@media (min-width: 1000px) {
    .secAllMockup img{
        width:120%;
    }
}




















/* ----- seection07 secPcScreen 360 ----- */
.secPcScreen{
    background-color: #F7F7F7;
}

.secPcScreenInner{
    padding:60px 30px;
    margin:0 auto; 
}

.secPcScreen img{
    width:100%;
    height:auto;
    object-fit: cover;
}

/* seection07 secPcScreen 1000 */
@media (min-width: 1000px) {
    .secPcScreenInner{
        max-width:1000px;
        height:2800px;
        padding:100px 0;
        position:relative;
    }

    .secPcScreenImg{
        width:100%;
        height:auto;
        position: absolute;
        top:100px;
        left:0;
    }
}











/* ---------- 공통 코드 ---------- */

/* ------ tit공통 360 ------ */
.secTitBox_tit{
    font-size:40px;
    font-weight:700;
    line-height:120%;
    margin-bottom:40px;
}

.secTitBox_tit.subTit{
    font-size:30px;
    font-weight:600;
}



.secTitBox_sub{
    font-size:16px;
    line-height:140%;
    text-align: justify;
}

/* tit공통 1000 */
@media (min-width: 1000px) {
    .secTitBox_tit{
        font-size:50px;
        line-height:110%;
        margin-bottom:30px;
    }
}





/* ------ mob, pc용 구분 360 ------ */
.moNonView{
    display:none;
}

/* mob, pc용 구분 800 */
@media (min-width: 1000px) {
    .tabNonView{
        display:none;
    }
}

/* mob, pc용 구분 1000 */
@media (min-width: 1000px) {
    .moNonView{
        display:block;
    }

    .pcNonView{
        display:none;
    }
}



img{
    width:100%;
    height:auto;
}